:root {
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'Playfair Display', serif;
}


body { 
    font-family: var(--primary-font);
    color: #272343;
}

.navbar { 
    padding: 5px;
}

.logo { 
    border: 2px solid #B7882B;
    color: #B7882B;
    border-radius: 8px;
    padding: 5px;
    margin-left: 25px;
}

h1 { 
    font-family: var(--heading-font);
    font-size: 96px;
    font-weight: 700;
}

h1, h2, p { 
    margin: 0;
}

.hero p { 
    font-size: 36px;
    font-weight: 700;
}

.hero h2 { 
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 200;
    margin-top: 24px;
    margin-bottom: 49px;
}

h2 { 
    font-family: var(--heading-font);
    font-size: 64px;
    font-weight: 700;
}

p { 
    font-size: 16px;
    line-height: 30px;
    margin-top: 55px;
    margin-bottom: 50px;
}

.hero { 
    background-color: #EAF6F6;
    text-align: center;
    padding: 160px 20px;
}

.button { 
    text-decoration: none;
    color: white;
    background-color: #1D4B2F;
    padding: 18px 46px;
    border-radius: 4px;
    font-size: 18px;
    font-family: var(--primary-font);
    border: 1px solid #1D4B2F;
}

 .hero a:hover { 
    color: white;
}

a:hover { 
    color: #1D4B2F;
}

.button-primary { 
    background-color: white;
    color: #1D4B2F;
}

.grid-intro { 
    text-align: center;
    font-size: 18px;
    margin-top: 60px;
}

.grid-content-wrapper { 
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 60px;
}

.row { 
    padding: 60px;
}

.about-content { 
    display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 60px;
}

.about-hero {
    padding: 160px 20px;
}

.about-hero h1 { 
    font-size: 64px;
}

.about-hero h2 { 
    font-size: 18px;
    margin-top: 30px;
}

.about-hero p { 
    font-size: 16px;
    margin-top: 28px;
}

.my-img { 
    border-radius: 16px;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-left: 30px;
}

.intro { 
font-size: 64px;
font-weight: 700;
margin-top: 177px;
max-width: 852px;
}

.work-intro { 
    margin-left: 90px;
}

.work-content { 
    margin-top: 16px;
}

.work-titles { 
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.work-text { 
    font-size: 14px;
    text-align: center;
    margin-top: 9px;
}

.contact-container { 
    margin: 140px;
}

.contact-heading { 
    font-size: 48px;
}

.contact-section { 
    max-width: 1160px;
    margin-top: 100px;
    background-color: #EAF6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-radius: 20px;
}

.contact-text-container { 
   display: flex;
   flex-direction: column;
   align-items: start;
   margin-left: 50px;
   margin-top: 20px;
}

.contact-button-container { 
    margin-right: 50px;
}

@media (max-width: 990px) {
    .hero { 
        padding: 80px 20px;
    }

    h1 { 
        font-size: 64px;
    }

    h2 { 
        text-align: center;
        font-size: 48px;
    }

    p {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button-primary { 
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    .row { 
        padding: 30px;
    }

    .about-hero h1 { 
        text-align: center;
    }

    .work-intro { 
        font-size: 48px
    }
}

@media (max-width: 1160px) {
.contact-section { 
    flex-direction: column;
}

.contact-text-container { 
    align-items: center;
    margin-left: 0;
}

.contact-button-container { 
    padding-bottom: 50px;
    margin-right: 0;
}

.contact-heading { 
    font-size: 36px;
}

}
